.hero {
  background-image: linear-gradient(to bottom, rgba(59, 130, 246, 1), rgba(16, 185, 129, 1));
  padding: 10rem;
  text-align: center;
  color: #fff;
}

.hero button {
  background-color: rgba(239, 68, 68, 1);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
